<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Turkee Dummy app</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <h1><%= link_to 'Dummy app', '/' %></h1>

  <% flash.each do |name, msg| %>
    <%= content_tag :p, msg, :class => (name == 'error' ? 'error' : 'notice') %>
  <% end %>

  <%= yield %>

</body>
</html>